.breeds {
    &__text {
        text-align: center;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 10px;
        @media screen and (max-width: 800px) {
          grid-template-columns: repeat(8, 3fr);
        }
        @media screen and (max-width: 600px) {
          grid-template-columns: repeat(6, 4fr);
        }
        @media screen and (max-width: 500px) {
          grid-template-columns: repeat(4, 4fr);
        }
        @media screen and (max-width: 400px) {
          grid-template-columns: repeat(1, 6fr);
          grid-gap: 15px;
        }

      }
      &__item {
        width: 100%;
        padding: 5px 9px;
        color: #000000;
        text-align: center;
        border-radius: 4px;
        background: transparent;
        border: 1px solid #000000;
        cursor: pointer;
        @media screen and (max-width: 500px) {
          padding: 10px;
        }
        &.active {
          background: #000000;
          color: #ffffff;
        }
      }
}
