.favourites {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-gap: 10px;
    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    @media screen and (max-width: 400px) {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
    }
    .cat__pic {
        width: auto;
        margin-bottom: 0;
        svg {
            opacity: 1;
            visibility: visible;
        }
    }
}
