.random-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__pic {
    width: 350px;
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
